@{
	ViewData["Title"] = "Login Successful";
	string authToken = ViewBag.AuthToken; 
    
    // Retrieve token from ViewBag
}
<h1>Login Successful!</h1>
<h1>Login Success View is Rendering</h1>
<p>You are now logged in.</p>

<script>
    // console.log('LoginSuccess.cshtml script started'); 1. Script start log

    // const authToken = "@authToken";
    // console.log('authToken value from ViewBag:', authToken); 2. Log token value

    // if (authToken) {
    //     console.log('authToken is not empty, proceeding to store in localStorage'); 3. Token not empty log
    //     localStorage.setItem('authToken', authToken);
    //     console.log('JWT token stored in localStorage:', authToken);
    //     console.log('localStorage.setItem completed'); 4. localStorage.setItem log
    //     window.location.href = "/";
    //     console.log('window.location.href executed'); 5. Redirect log
    // } else {
    //     console.log('authToken is EMPTY or undefined!'); 6. Token empty log
    //     console.error('AuthToken is missing in ViewBag.LoginSuccess view.');
    //     alert('Login was successful, but token retrieval failed. Please try again.');
    // }

    // console.log('LoginSuccess.cshtml script finished'); 7. Script end log
    console.log('Minimal JavaScript in LoginSuccess.cshtml is running!');
    alert('Minimal JavaScript is running!');
</script>