@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Auth" asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label> <----- Updated Label to "Username"
                <input type="text" class="form-control" id="username" name="username" required> <----- Updated id and name to "username"
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <div class="mt-2">
                <p>Don't have an account? <a asp-action="Register">Register</a></p>
            </div>
        </form>
    </div>
</div>